<launch>

    <arg name="record_only_planner"       default="true"/>  
    <arg name="local_planner"   default="global_planner"/>
    <arg name="waypoint_generator"   default="classic"/>
    <arg name="scenario_file"   default="empty_map.json"/>

    <node pkg="arena_evaluation" name="data_recorder_node" type="data_recorder_node.py" output="screen">
        <param name="local_planner"  value="$(arg local_planner)"/>
        <param name="waypoint_generator"  value="$(arg waypoint_generator)"/>
        <param name="record_only_planner"  value="$(arg record_only_planner)"/>
        <param name="scenario_file"  value="$(arg scenario_file)"/>
    </node>
</launch>